[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"

[packages]
Scrapy = "*"
scrapy-rotating-proxies = "*"
Scrapy-UserAgents = "*"
requests = "*"
requests-html = "*"
pandas = "*"
xlrd = "*"
pydantic = "*"
Django = "*"
djangorestframework = "*"
scrapyd-api = "*"
scrapyd = "*"
django-crontab = "*"
scrapy-djangoitem = "*"
pytest-django = "*"
psycopg2= "*"

[requires]
python_version = "3.6"
